/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  color: white;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a.active {
  text-decoration: underline;
}

footer {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}



section {
  padding: 2em;
}

.project {
  margin: 2em 0;
}

.project img {
  width: 100%;
  height: auto;
}
